@SpaceMono {
  font-family: "SpaceMono", monospace;
  src: url("/fonts/SpaceMono-Regular.woff");
}
@SpaceMono-Bold {
  font-family: "SpaceMono Bold", monospace;
  src: url("/fonts/SpaceMono-Bold.woff");
}

body, html {
  background-color: #300000;
  font-family: "SpaceMono", monospace;
}

.code {
  background-color: #00300d;
}
